.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

#button{
  display: flex;
  block-size: auto;
  justify-content: center;
  padding-top: 6vh;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background: linear-gradient(140deg, rgba(2,0,36,1) 0%, rgba(15,15,82,1) 35%, rgba(255,0,101,1) 100%);
}


h1 {
  margin: 20px;
  font-family: 'Orbitron', sans-serif;
  font-size: 7rem;
  color: #ffffff;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Orbitron', sans-serif;
}

img {
  width: 80%;
  box-shadow:#4ECCA3;
}

#refresh-button {
  background-color: #ded6d5;
  font-family: 'Orbitron', sans-serif;
  font-size: small;
  align-items: center;
  justify-content: center;
  color: rgb(41, 19, 45);
  border: aquamarine;
  border-radius: 15px;
  box-shadow: 0 3px 5px 2px rgba(221, 201, 201, 0.3);
  cursor:crosshair;
  width: 6rem;
  height: 40px;
  transition: background-color 0.2s ease-in-out;
}

#refresh-button:hover {
  background-color: #d32f2f;
}

#refresh-button i {
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}


footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Orbitron', sans-serif;

}
